# env
.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

test-results/** 
playwright-report/**

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode/settings.json 등 사용!
# .vscode/* 
# !.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
# OS specific

# Task files
# tasks.json
# tasks/ 
.cursor/**
.taskmaster/**

dev-dist/**

ios/**/*
android/**/*
*storybook.log
storybook-static

